@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    background: linear-gradient(180deg, #bf66bd 35%, #8e66ef 75%);
    margin: 0;
    height: 100vh;
    display: grid;
    // grid-row: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items:center;
    font-family: 'Nunito', 'sans-serif';
    animation-name: bg-aa;
    animation-duration: 0.65s;
    animation-iteration-count: infinite;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@keyframes bg-aa{
    0%{background: linear-gradient(0deg, #bf66bd 35%, #8e66ef 75%);}
    25%{background: linear-gradient(90deg, #bf66bd 35%, #8e66ef 75%);}
    50%{background: linear-gradient(180deg, #bf66bd 35%, #8e66ef 75%);}
    75%{background: linear-gradient(270deg, #bf66bd 35%, #8e66ef 75%);}
    100%{background: linear-gradient(360deg, #bf66bd 35%, #8e66ef 75%);}
}


.inner {
    background: #ca61e4;
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    clip-path: circle(10% at 90% 80%);
    transition: all .5s ease-in-out;
    cursor: pointer;
    margin-bottom: 1rem;
    animation-name: aa;
    animation-duration: 0.5s;
    // animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    // animation-direction: alternate;
    // animation-play-state: running;

    &:hover {
        clip-path: circle(75%);
        animation:none;
        background: #f14e4e !important;
    }

    h1 {
        color: white;
        margin: 0;
    }

    p {
        color: white;
        font-size: .8rem;
    }
    span {
        float: right;
        color: white;
        font-weight: bold;
        transition: color .5s;
        position: relative;
        top: 82px;
        margin-right: 4%;
    }
    &:hover span {
        color: rgba(255,255,255,0)
    }
}

@keyframes aa{
    from{background: linear-gradient(135deg,blue,lightblue);}
    to{background: linear-gradient(135deg,rgb(247, 64, 64),rgb(240, 151, 136));}
}