@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
body {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #bf66bd), color-stop(75%, #8e66ef));
  background: linear-gradient(180deg, #bf66bd 35%, #8e66ef 75%);
  margin: 0;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Nunito', 'sans-serif';
  -webkit-animation-name: bg-aa;
          animation-name: bg-aa;
  -webkit-animation-duration: 0.65s;
          animation-duration: 0.65s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@-webkit-keyframes bg-aa {
  0% {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #bf66bd), color-stop(75%, #8e66ef));
    background: linear-gradient(0deg, #bf66bd 35%, #8e66ef 75%);
  }
  25% {
    background: -webkit-gradient(linear, left top, right top, color-stop(35%, #bf66bd), color-stop(75%, #8e66ef));
    background: linear-gradient(90deg, #bf66bd 35%, #8e66ef 75%);
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #bf66bd), color-stop(75%, #8e66ef));
    background: linear-gradient(180deg, #bf66bd 35%, #8e66ef 75%);
  }
  75% {
    background: -webkit-gradient(linear, right top, left top, color-stop(35%, #bf66bd), color-stop(75%, #8e66ef));
    background: linear-gradient(270deg, #bf66bd 35%, #8e66ef 75%);
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #bf66bd), color-stop(75%, #8e66ef));
    background: linear-gradient(360deg, #bf66bd 35%, #8e66ef 75%);
  }
}

@keyframes bg-aa {
  0% {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #bf66bd), color-stop(75%, #8e66ef));
    background: linear-gradient(0deg, #bf66bd 35%, #8e66ef 75%);
  }
  25% {
    background: -webkit-gradient(linear, left top, right top, color-stop(35%, #bf66bd), color-stop(75%, #8e66ef));
    background: linear-gradient(90deg, #bf66bd 35%, #8e66ef 75%);
  }
  50% {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(35%, #bf66bd), color-stop(75%, #8e66ef));
    background: linear-gradient(180deg, #bf66bd 35%, #8e66ef 75%);
  }
  75% {
    background: -webkit-gradient(linear, right top, left top, color-stop(35%, #bf66bd), color-stop(75%, #8e66ef));
    background: linear-gradient(270deg, #bf66bd 35%, #8e66ef 75%);
  }
  100% {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(35%, #bf66bd), color-stop(75%, #8e66ef));
    background: linear-gradient(360deg, #bf66bd 35%, #8e66ef 75%);
  }
}

.inner {
  background: #ca61e4;
  padding: 1em;
  border-radius: 10px;
  width: 250px;
  -webkit-clip-path: circle(10% at 90% 80%);
          clip-path: circle(10% at 90% 80%);
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
  margin-bottom: 1rem;
  -webkit-animation-name: aa;
          animation-name: aa;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.inner:hover {
  -webkit-clip-path: circle(75%);
          clip-path: circle(75%);
  -webkit-animation: none;
          animation: none;
  background: #f14e4e !important;
}

.inner h1 {
  color: white;
  margin: 0;
}

.inner p {
  color: white;
  font-size: .8rem;
}

.inner span {
  float: right;
  color: white;
  font-weight: bold;
  -webkit-transition: color .5s;
  transition: color .5s;
  position: relative;
  top: 82px;
  margin-right: 4%;
}

.inner:hover span {
  color: rgba(255, 255, 255, 0);
}

@-webkit-keyframes aa {
  from {
    background: linear-gradient(135deg, blue, lightblue);
  }
  to {
    background: linear-gradient(135deg, #f74040, #f09788);
  }
}

@keyframes aa {
  from {
    background: linear-gradient(135deg, blue, lightblue);
  }
  to {
    background: linear-gradient(135deg, #f74040, #f09788);
  }
}
/*# sourceMappingURL=style.css.map */